*.retry
*.log
.ansible/
.vault_pass
.vscode
k6_tests/results/
*.qcow2
./ansible/inventory.ini
./k6_tests/results/
./k6_tests/__pycache__/
*.pyc
.local/
*.gz
*.pem
*.key
*.gpg
secrets.yml


.DS_Store
*~
